@use "sass:map";
@use "variables" as v;

// FONT
@mixin font($family, $weight: normal, $style: normal, $fallback: sans-serif) {
  font-family: $family, $fallback;
  font-weight: $weight;
  font-style: $style;
}

// MEDIA QUERY
@mixin breakpoint-down($size) {
  @media (max-width: map.get(v.$breakpoints, $size)) {
    @content;
  }
}
