@use "sass:color";
@use "../styles/abstracts" as a;

.button {
  @include a.font(a.$fontMontserrat, 500, normal, sans-serif);
  color: a.$white;
  font-size: a.$fontSizeParagraph;
  background-color: a.$darkCyan;
  padding: 0.75rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: color.adjust(a.$darkCyan, $lightness: -15%);
  }

  &__icon {
    display: flex;
    align-items: center;

    svg {
      width: 1rem;
      height: 1rem;
      fill: currentColor; // inherit color from parent
    }
  }
}
